In [1]:
import pandas as pd
from pydantic import BaseModel, validator
import numpy as np
from datetime import datetime
from enum import Enum
from collections.abc import Iterable
from functools import partial

In [2]:
df_ref = pd.read_csv('kidney_test.csv', index_col=0)

df_ref['model_id'] = '1'
df_ref['model_version'] = '1'
df_ref['y_pred'] = '1.0'
df_ref['clf_target'] = '1'
df_ref['pred_timestamp'] = datetime(2022,8,21)
df_ref['eval_timestamp'] = datetime(2022,8,26)
df_ref['date'] = datetime(2022,8,21)
df_ref['period'] = 'reference'

In [3]:
df_ref.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,class,y_pred,clf_target,y_pred_proba,model_id,model_version,pred_timestamp,eval_timestamp,date,period
id,,,,,,,,,,,,,,,,,,,,,
214,55.0,80.0,1.010,3.0,1,1,0,1,1,214.0,...,1,1.0,1,1.00,1,1,2022-08-21,2022-08-26,2022-08-21,reference
372,28.0,60.0,1.025,0.0,0,1,1,0,0,79.0,...,0,1.0,1,1.00,1,1,2022-08-21,2022-08-26,2022-08-21,reference
367,60.0,80.0,1.025,0.0,0,1,1,0,0,81.0,...,0,1.0,1,0.99,1,1,2022-08-21,2022-08-26,2022-08-21,reference
260,35.0,80.0,1.020,0.0,0,1,1,0,0,104.0,...,0,1.0,1,0.98,1,1,2022-08-21,2022-08-26,2022-08-21,reference
374,61.0,70.0,1.025,0.0,0,1,1,0,0,133.0,...,0,1.0,1,0.91,1,1,2022-08-21,2022-08-26,2022-08-21,reference

In [67]:
# data_ref = pd.read_csv('kidney_test.csv', index_col=0)
data_ref = pd.read_csv('dataframe_client.csv', sep = '\t')
data_ref['model_id'] = '1'
data_ref['model_version'] = '2'
# data_ref.rename(columns = {'time': 'pred_timestamp'}, inplace = True)
data_ref['pred_timestamp'] = datetime(2022,7,1)

In [68]:
data_ref.head()

,time,age,al,ane,appet,ba,bgr,bp,bu,cad,...,rbcc,sc,sg,sod,su,target,wbcc,y_name,pred_timestamp,eval_timestamp
0,2022-08-06T00:35:06.565042Z,83.0,3.0,1,1,0,102.0,70.0,60.0,0,...,3.1,2.6,1.020,115.0,0,1,12800.0,NaN,2022-07-01,2022-08-26
1,2022-08-09T11:47:43.406341Z,25.0,0.0,0,0,0,121.0,80.0,19.0,0,...,5.3,1.2,1.025,142.0,0,0,6900.0,NaN,2022-07-01,2022-08-26
2,2022-08-12T12:24:23.593044Z,25.0,0.0,0,0,0,121.0,80.0,19.0,0,...,5.3,1.2,1.025,142.0,0,0,6900.0,NaN,2022-07-01,2022-08-26
3,2022-08-12T12:36:14.661246Z,25.0,0.0,0,0,0,121.0,80.0,19.0,0,...,5.3,1.2,1.025,142.0,0,0,6900.0,NaN,2022-07-01,2022-08-26
4,2022-08-16T11:34:56.583918Z,25.0,0.0,0,0,0,121.0,80.0,19.0,0,...,5.3,1.2,1.025,142.0,0,0,6900.0,ABC,2022-07-01,2022-08-26

In [73]:
data_new = pd.read_csv('kidney_test.csv', index_col = 0)
data_new['model_id'] = '1'
data_new['model_version'] = '2'
#data_new.rename(columns = {'timestamp': 'pred_timestamp'}, inplace = True)

In [74]:
data_new.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,cad,appet,pe,ane,class,y_pred,clf_target,y_pred_proba,model_id,model_version
id,,,,,,,,,,,,,,,,,,,,,
214,55.0,80.0,1.010,3.0,1,1,0,1,1,214.0,...,0,0,1,0,1,1,0,1.00,1,2
372,28.0,60.0,1.025,0.0,0,1,1,0,0,79.0,...,0,0,0,0,0,1,0,1.00,1,2
367,60.0,80.0,1.025,0.0,0,1,1,0,0,81.0,...,0,0,0,0,0,0,0,0.99,1,2
260,35.0,80.0,1.020,0.0,0,1,1,0,0,104.0,...,0,0,0,0,0,0,0,0.98,1,2
374,61.0,70.0,1.025,0.0,0,1,1,0,0,133.0,...,0,0,0,0,0,1,0,0.91,1,2

In [8]:
from pulsar_metrics.metrics.base import MetricResults

In [9]:
result = MetricResults(name = "accuracy", type = "performance", model_id = "1", model_version = "1.0", period_end = datetime(2022,7,1))

In [10]:
result

MetricResults(metric_name=None, type='performance', model_id='1', model_version='1.0', data_id=None, feature=None, value=None, status=None, threshold=None, period_start=None, period_end=datetime.datetime(2022, 7, 1, 0, 0), eval_timestamp=datetime.datetime(2022, 9, 7, 11, 57, 49, 730912), conf_int=None)

In [11]:
from pulsar_metrics.metrics.base import MetricsType

MetricsType._member_names_

['performance', 'drift', 'custom']

In [14]:
from pulsar_metrics.metrics.performance import PerformanceMetricsFuncs
PerformanceMetricsFuncs._member_names_

['accuracy',
 'precision',
 'recall',
 'f1',
 'log_loss',
 'auc',
 'aucpr',
 'brier',
 'mse',
 'mae',
 'mape',
 'r2']

In [15]:
PerformanceMetricsFuncs['f1'].value(data_ref.y_pred, data_ref.clf_target, average = 'macro')

0.6698891905247975

In [47]:
from pulsar_metrics.metrics.performance import PerformanceMetric

precision = PerformanceMetric(name = 'accuracy', data = data_ref, y_name = 'clf_target')

In [49]:
precision.evaluate(bootstrap=True, threshold = 0.5)

MetricResults(metric_name='accuracy', type='performance', model_id='1', model_version='2', data_id=None, feature='prediction', value=0.6704389574759945, status=False, threshold=0.5, period_start=Timestamp('2022-07-01 00:00:00'), period_end=Timestamp('2022-07-01 00:00:00'), eval_timestamp=datetime.datetime(2022, 9, 7, 11, 57, 49, 730912), conf_int=[0.6586462620027435, 0.68292609739369])

In [18]:
from pulsar_metrics.metrics.drift import DriftTestMetric, DriftMetric, DriftMetricsFuncs, DriftTestMetricsFuncs

In [19]:
DriftMetricsFuncs._member_names_

['kl', 'wasserstein']

In [50]:
DriftTestMetricsFuncs._member_names_

['ttest', 'manwu', 'levene', 'bftest', 'ks_2samp', 'CvM', 'chi2']

In [61]:
feature_name = 'bgr'

In [60]:
data_new.columns

Index(['time', 'age', 'al', 'ane', 'appet', 'ba', 'bgr', 'bp', 'bu', 'cad',
       'data_id', 'dm', 'environment_id', 'hemo', 'htn', 'id', 'model_id',
       'model_version', 'org_id', 'pc', 'pcc', 'pcv', 'pe', 'pot', 'pred_name',
       'project_id', 'rbc', 'rbcc', 'sc', 'sg', 'sod', 'su', 'target', 'wbcc',
       'y_name', 'pred_timestamp', 'eval_timestamp'],
      dtype='object')

In [62]:
driftTest = DriftTestMetric(name = 'ks_2samp', data = data_new, feature_name = feature_name)

In [63]:
driftTest.evaluate(alpha = 0.05, reference = data_ref[feature_name])

KeyError: 'bgr'

In [29]:
# Non test drift metrics
drift = DriftTestMetric(name = 'ttest', data = data_new, feature_name = feature_name)

'Population'

In [201]:
metricresults = drift.evaluate(reference = data_ref[feature_name], threshold = None)

In [202]:
metricresults

MetricResults(metric_name='wasserstein', type='drift', model_id='1', model_version='2', data_id=None, feature='Population', value=52.58844137302228, status=None, threshold=None, period_start=datetime.datetime(2021, 6, 1, 0, 0), period_end=datetime.datetime(2022, 5, 9, 23, 0), eval_timestamp=datetime.datetime(2022, 8, 31, 10, 21, 29, 391934), conf_int=None)

In [203]:
"""
Cleaner way to achieve below result is to add a to_dict(self) method in the MetricResults class itself. 
The method will simply return something like 'metric_name': self.metric_name... for all values in our object.
"""

dict = vars(metricresults)
df_compute = pd.DataFrame([dict])
# df_compute.loc[:, "Timestamp"] = datetime.now()
df_compute.set_index("eval_timestamp", inplace=True)

In [204]:
df_compute

,metric_name,type,model_id,model_version,data_id,feature,value,status,threshold,period_start,period_end,conf_int
eval_timestamp,,,,,,,,,,,,
2022-08-31 10:21:29.391934,wasserstein,drift,1,2,None,Population,52.588441,None,None,2021-06-01,2022-05-09 23:00:00,None